<% provide(:title, 'Contact') %>
<h1> Khoa Bui's Contact Info </h1>
<p>
Number : 512-694-1636
</p>
<p>
	Email: Khoa.Nguyen.Bui@gmail.com
</p>
<p> Mailing Address: 9804 Fallon Cove, Austin Tx, 78717</p>
