<% provide(:title, 'Fanorona') %>
<h1> Khoa's Fanorona Game made in Java
</h1>
<a href="http://imgur.com/tfnBdA8"><img src="http://i.imgur.com/tfnBdA8.png?1" title="Hosted by imgur.com" /></a>
<!-- 
<object type="application/x-java-applet" height="300" width="550">
  <param name="code" value="fanodora" />
  <param name="archive" value="fanodora.jar" />
  <param name="java_arguments" value="-Djnlp.packEnabled=true"/>
  Applet failed to run.  No Java plug-in was found.
</object> -->
<!-- <Applet code="fanodora.class"
        archive="pluginLib-jre1.6.0_05.jar,fanodora.jar"
        width="600" height="480" MAYSCRIPT=true >
        
         -->
<b><p> Features:</p></b>
<p> LAN play using sockets  <br>
	Play vs Ai with 3 levels<br>
	Play vs another human<br >
	Different Game modes<br>
	Adjustable Settings<br>
	
	</p>
	
<b><p>Instructions:</p></b>

<p>
	To start a new game select "New Game" on the top left corner
	<br>
	To settings such as time, number of rows and columns, or AI settings select  "Setting"
	<br >
	Playing a game:<br>
	 White always goes first. Select a white piece. If it can move, a green highlight will show valid moves. <br>
	 <a href="http://imgur.com/u73YBa1"><img src="http://i.imgur.com/u73YBa1.png" title="Hosted by imgur.com"/></a>
	  <br>
	  Click "Done" in the top right to end turn. Then it is black's turn.
	 <br>
	  
</p>



