<div class="center hero-unit">
  <h1>A* Search</h1>

 <p>
 	Depth First Search is a way to find the cheapest path from point A to point B. A* search first A common every day AI that could use depth first search is a GPS, global positioning system.
 </p>
  
 
 
 
     <%= link_to "A* Search", '/projects' , class: "btn btn-primary"%> 
 
</div>
 